Which three data sets will you need to complete your analysis

My job is to identify which content categories are most popular. Popularity is determined based on reaction scores.


Definitions of different data types:

String - Sequence of characters, digits, or symbols—always treated as text
UUID - Universally Unique Identifiers
Array - List with a number of elements in a specific order—typically of the same type
Integer - Numeric data type for numbers without fractions
Timestamp - Number of seconds that have elapsed since midnight (00:00:00 UTC), 1st January 1970 (Unix time)

Reaction, Content, Reaction Types

Which three data sets will you need to complete your analysis?
 You’ve identified Reaction, Content, and Reaction Types as our relevant data sets.
To clarify why you made this selection:

- The brief carefully it states that the client wanted to see “An analysis of their content categories showing the top 5 categories with the largest popularity”.
- As explained in the data model, popularity is quantified by the “Score” given to each reaction type. We therefore need data showing the content ID, category, content type, reaction type, and reaction score.
- So, to figure out popularity, we’ll have to add up which content categories have the largest score.

In [50]:
#Load the librarys
import pandas as pd #To work with dataset
import numpy as np #Math library


# Remove warnings
import warnings
warnings.filterwarnings('ignore')

In [51]:
# Reading of our xls files 
content = pd.read_csv(r"C:\Users\monga\Desktop\forage\Data Analysis\Content.csv")

In [52]:
#Importing the data
reactions = pd.read_csv(r"C:\Users\monga\Desktop\forage\Data Analysis\Reactions.csv")

In [53]:
#Importing the data
reaction_types = pd.read_csv(r"C:\Users\monga\Desktop\forage\Data Analysis\ReactionTypes.csv")

# a) Content Data Set

In [54]:
# Opening the content csv file
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [55]:
content.shape

(1000, 6)

In [56]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [57]:
# Clearly we can see that no null values are present in our dataset 
content.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [58]:
print(content.columns)

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

In [59]:
# Let's check for missing values in our data
content.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [60]:
#Another way of Cheking for Missing data in data set by columns
content.isnull().any()

Unnamed: 0    False
Content ID    False
User ID       False
Type          False
Category      False
URL            True
dtype: bool

In [61]:
content.drop(['URL','Unnamed: 0'], axis=1)

,Content ID,User ID,Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food
...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology

In [62]:
#Identify duplicate rows:
duplicate_rows = content[content.duplicated()]

In [63]:
print(duplicate_rows)

Empty DataFrame
Columns: [Unnamed: 0, Content ID, User ID, Type, Category, URL]
Index: []

In [64]:
#Get count of duplicate rows:
num_duplicates = len(duplicate_rows)
print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 0

In [65]:
# check for duplicates in the 'Name' column
duplicates = [content.duplicated(subset='Category', keep=False)]

# print the duplicate rows
print(duplicates)

[0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Length: 1000, dtype: bool]

In [66]:
# Count duplicates in the 'column_name' column
duplicate_count = content['Category'].value_counts().loc[lambda x: x > 1].sum()

print(f"There are {duplicate_count} duplicate values in the 'Category' column.")

There are 986 duplicate values in the 'Category' column.

In [67]:
# Check if there are any single or double quotes in the column of interest
has_quotes = content['Category'].str.contains('\'|"')

# Print the rows with quotes
print(content[has_quotes])

     Unnamed: 0                            Content ID  \
50           50  2d949603-6676-4402-900b-2c2c78315ea0
100         100  c8b044a9-8427-4b41-bc61-7b549ab1626c
150         150  5651450a-d330-46e6-bac9-c7c7e7defaf2
200         200  48a824bf-e495-4333-8acf-c800947ec2cd
250         250  78461336-26e2-4d0c-ab9a-fefbe419a8dd
300         300  693b5f91-52b1-4464-916c-91adccbec996
400         400  93081b1a-4446-438a-a0d7-fbcedc3c992d
450         450  bde82663-7be3-453d-afc2-539202df27c3
500         500  6380e982-07ac-4d21-bd23-cec0bcfa1ff9
550         550  e4487829-621f-4265-8665-42a4c0610745
600         600  0fbdd670-a266-4805-9bbc-c5ad73cf97b3
650         650  9c8be342-6cff-4d80-bf94-fd0fd8ccd845
750         750  b0782637-2604-40f7-8fc6-5e7d9ffd2255
800         800  e1eb9e92-2e08-48b0-8be7-a2a98048aa08
850         850  dd942c3f-2ed5-4849-9e2b-7484f5a4eaf4
900         900  bc8024c3-c51e-4875-b8df-419e9848f492
950         950  e4127cae-c2e9-4321-919a-be6d11636808

                                  User ID   Type           Category  URL
50   4baf648a-0ad5-412d-8250-5a0ff9289fbf  audio          "culture"  NaN
100  64b33556-9ecf-4ebc-8b4c-f829ab1a4881  photo         "studying"  NaN
150  bf721d00-4fa1-44b1-834f-4730cd51aefa  photo          "animals"  NaN
200  69fcad9e-45a9-4189-b7e1-96b26c57c542  audio           "soccer"  NaN
250  3205ad12-726a-4b65-a15a-1a899a9d310b  video             "dogs"  NaN
300  3663e3e6-3d5c-4ed9-a6af-1e680ec5f34b  photo          "culture"  NaN
400  3efc3621-873a-4b80-a0cb-27e531d600be    GIF           "soccer"  NaN
450  7adafb3c-7c7c-492b-be5b-5ddd9ff1316a  video           "tennis"  NaN
500  1582dac6-ebec-43ed-a34a-1a202ca72627  photo           "soccer"  NaN
550  6fd58dea-315a-4ab2-8023-424a6ff455cd  audio             "food"  NaN
600  63e1cb43-d3dc-491a-af16-209c1c152c44  photo       "technology"  NaN
650  b9480379-4b96-412c-8dca-96fff9ae81a3  video             "dogs"  NaN
750  c1e01541-7508-4712-a22c-0370f232a41e  video          "cooking"  NaN
800  2dd186bb-7a28-4e80-99c7-f1936afc7b49  video  "public speaking"  NaN
850  89d6bd9d-ce6b-42e5-bb9b-ece3b338396d  audio          "culture"  NaN
900  c7b6e374-1bef-48c3-8222-cc231dbd5cce    GIF         "veganism"  NaN
950  4cff698b-def1-497c-a78e-75058de67fe8  audio          "science"  NaN

In [68]:
# Remove both single and double quotations in each row of the 'Category' column
content['Category'] = content['Category'].str.replace('"', '').str.replace("'", '')

# Print the updated DataFrame
print(content)

     Unnamed: 0                            Content ID  \
0             0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1             1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2             2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3             3  356fff80-da4d-4785-9f43-bc1261031dc6
4             4  01ab84dd-6364-4236-abbb-3f237db77180
..          ...                                   ...
995         995  b4cef9ef-627b-41d7-a051-5961b0204ebb
996         996  7a79f4e4-3b7d-44dc-bdef-bc990740252c
997         997  435007a5-6261-4d8b-b0a4-55fdc189754b
998         998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7
999         999  75d6b589-7fae-4a6d-b0d0-752845150e56

                                  User ID   Type         Category  \
0    8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo         Studying
1    beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo   healthy eating
2    a5c65404-5894-4b87-82f2-d787cbee86b4  photo   healthy eating
3    9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo       technology
4    e206e31b-5f85-4964-b6ea-d7ee5324def1  video             food
..                                    ...    ...              ...
995  5b62e10e-3c19-4d28-a57c-e9bdc3d6758d  video  public speaking
996  4fe420fa-a193-4408-bd5d-62a020233609    GIF       technology
997  35d6a1f3-e358-4d4b-8074-05f3b7f35c2a  audio         veganism
998  b9bcd994-f000-4f6b-87fc-caae08acfaa1    GIF          culture
999  b8c653b5-0118-4d7e-9bde-07c2de90f0ff  audio       technology

                                                   URL
0    https://socialbuzz.cdn.com/content/storage/975...
1    https://socialbuzz.cdn.com/content/storage/9f7...
2    https://socialbuzz.cdn.com/content/storage/230...
3    https://socialbuzz.cdn.com/content/storage/356...
4    https://socialbuzz.cdn.com/content/storage/01a...
..                                                 ...
995                                                NaN
996  https://socialbuzz.cdn.com/content/storage/7a7...
997  https://socialbuzz.cdn.com/content/storage/435...
998  https://socialbuzz.cdn.com/content/storage/4e4...
999  https://socialbuzz.cdn.com/content/storage/75d...

[1000 rows x 6 columns]

In [69]:
# Rename the column
content = content.rename(columns={'Type': 'Content Type'})

In [70]:
# Dropping the url and Unnamed: 0 Column
content = content.drop(['URL','Unnamed: 0','User ID'], axis=1)

In [71]:
#Cleaned Data set
content.head()

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            food

# b) Reactions Data set

In [72]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [73]:
reactions.shape

(25553, 5)

In [74]:
reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [75]:
print(reactions.columns)

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'], dtype='object')

In [76]:
# Let's check for missing values in our data
reactions.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [77]:
#Another way of Cheking for Missing data in data set by columns
reactions.isnull().any()

Unnamed: 0    False
Content ID    False
User ID        True
Type           True
Datetime      False
dtype: bool

In [78]:
# Identify rows with missing values
missing_rows = reactions.isnull().any(axis=1)

# Delete rows with missing values
reactions = reactions[~missing_rows]

# Print the updated dataset
print(reactions)

       Unnamed: 0                            Content ID  \
1               1  97522e57-d9ab-4bd6-97bf-c24d952602d2
2               2  97522e57-d9ab-4bd6-97bf-c24d952602d2
3               3  97522e57-d9ab-4bd6-97bf-c24d952602d2
4               4  97522e57-d9ab-4bd6-97bf-c24d952602d2
5               5  97522e57-d9ab-4bd6-97bf-c24d952602d2
...           ...                                   ...
25547       25547  75d6b589-7fae-4a6d-b0d0-752845150e56
25548       25548  75d6b589-7fae-4a6d-b0d0-752845150e56
25549       25549  75d6b589-7fae-4a6d-b0d0-752845150e56
25551       25551  75d6b589-7fae-4a6d-b0d0-752845150e56
25552       25552  75d6b589-7fae-4a6d-b0d0-752845150e56

                                    User ID        Type             Datetime
1      5d454588-283d-459d-915d-c48a2cb4c27f     disgust  2020-11-07 09:43:50
2      92b87fa5-f271-43e0-af66-84fac21052e6     dislike  2021-06-17 12:22:51
3      163daa38-8b77-48c9-9af6-37a6c1447ac2      scared  2021-04-18 05:13:58
4      34e8add9-0206-47fd-a501-037b994650a2     disgust  2021-01-06 19:13:01
5      9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4  interested  2020-08-23 12:25:58
...                                     ...         ...                  ...
25547  b6d04982-1509-41ab-a700-b390d6cb4d02     worried  2020-10-31 04:50:14
25548  80c9ce48-46f9-4f5e-b3ca-3b698fc2e949     dislike  2020-06-27 09:46:48
25549  2bd9c167-e06c-47c1-a978-3403d6724606   intrigued  2021-02-16 17:17:02
25551  5ffd8b51-164e-47e2-885e-8b8c46eb63ed     worried  2020-11-04 20:08:31
25552  4edc3d1a-a7d9-4db6-89c3-f784d9954172     cherish  2021-01-04 04:55:11

[22534 rows x 5 columns]

In [79]:
#Cheking for Missing data in data set by columns
reactions.isnull().any()

Unnamed: 0    False
Content ID    False
User ID       False
Type          False
Datetime      False
dtype: bool

In [80]:
print(reactions.columns)

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'], dtype='object')

In [81]:
# Rename the column
# reactions = reactions.rename(columns={'Type': 'Reactions Type'})

In [82]:
# Dropping the User ID and Unnamed: 0 Column
reactions = reactions.drop(['User ID','Unnamed: 0'], axis=1)

In [83]:
reactions.head()

                             Content ID        Type             Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25:58

# c)Reaction_types

In [84]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [85]:
# Dropping the Unnamed: 0 Column
#reaction_types = reaction_types.drop(['Unnamed: 0'], axis=1)

In [86]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [87]:
reaction_types.shape

(16, 4)

In [88]:
# Dropping the User ID and Unnamed: 0 Column
reaction_types = reaction_types.drop(['Unnamed: 0'], axis=1)

In [89]:
reaction_types.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

# Data Modelling

Now we want to figure out the top 5 categories. To complete your data modelling, follow these steps:

1. Create a final data set by merging your three tables together

We recommend using the Reaction table as your base table, then first join the relevant columns from your Content data set, and then the Reaction Types data set.
Hint: You can use a “VLookUp” formula

In [90]:
# First, merge the Reaction Types table with the Reactions table using a left join
# The 'type' column in the Reactions table is used to join with the 'id' column in the Reaction Types table
merged_reactions = pd.merge(reactions, reaction_types, left_on='Type', right_on='Type', how='left')

# Then, merge the resulting merged_reactions table with the Content table using a left join
# The 'content_id' column in the Content table is used to join with the 'content_id' column in the merged_reactions table
clean_data = pd.merge(content, merged_reactions, left_on='Content ID', right_on='Content ID', how='left')

# Now, the final_data dataframe contains the merged data from all three tables

In [91]:
clean_data.head()

,Content ID,Content Type,Category,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0.0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51,negative,10.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,scared,2021-04-18 05:13:58,negative,15.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01,negative,0.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,interested,2020-08-23 12:25:58,positive,30.0

In [92]:
clean_data.to_csv('C:\\Users\\monga\\Desktop\\forage\\Data Analysis\\clean_data.csv')

### 2. Figure out the Top 5 performing categories

- Add up the total scores for each category.
- Hint: You can use the “Sum If” formula

The end result should be one spreadsheet which contains:

- A cleaned dataset
- The top 5 categories
 
Once you have a final data file, upload it to complete this task! We'll provide you with some explanation videos in the next step - but first give it a go to see if you can figure it out. 

You can use Excel or any other tool of your choice to create your final data set.

In [93]:
#Calculate the total scores for each category using the following code

total_scores = clean_data.groupby('Category')['Score'].sum()

In [94]:
#Sort the "total_scores" DataFrame in descending order:
sorted_total_scores = total_scores.sort_values(ascending=False)

In [95]:
#Identify the top 5 categories with the highest total scores:
top_5_categories = sorted_total_scores.head(5)

In [96]:
# The "top_5_categories" DataFrame will contain the top 5 performing categories with their corresponding total scores.


# Calculate total scores for each category
total_scores = clean_data.groupby('Category')['Score'].sum()

# Sort total scores in descending order
sorted_total_scores = total_scores.sort_values(ascending=False)

# Identify top 5 categories
top_5_categories = sorted_total_scores.head(5)

print(top_5_categories)

Category
animals           65063.0
healthy eating    62866.0
technology        62818.0
science           61081.0
culture           59213.0
Name: Score, dtype: float64

In [97]:
top_5_categories

Category
animals           65063.0
healthy eating    62866.0
technology        62818.0
science           61081.0
culture           59213.0
Name: Score, dtype: float64

In [98]:
#Exporting to desktop
top_5_categories.to_csv('C:\\Users\\monga\\Desktop\\forage\\Data Analysis\\top_5_categories2.csv')